* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #205386;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.453);
    animation: fadeIn 1s ease-in-out;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 20px;
}

.balance {
    margin: 20px 0;
}

.income-expense {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
}

.income, .expense {
    width: 48%;
    text-align: center;
}

.money {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}

.plus {
    color: #2ecc71;
}

.minus {
    color: #e74c3c;
}

.form-container {
    margin: 20px 0;
}

.form-control {
    margin-bottom: 10px;
}

.form-control label {
    display: block;
    margin-bottom: 5px;
}

.form-control input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #2980b9;
}

.list {
    list-style-type: none;
    padding: 0;
}

.list li {
    display: flex;
    justify-content: space-between;
    background-color: #f8f9fa;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid;
    border-radius: 5px;
    animation: slideIn 0.3s ease-in-out;
}

.list .minus {
    border-color: #e74c3c;
}

.list .plus {
    border-color: #2ecc71;
}

.delete-btn {
    border: none;
    background-color: transparent;
    color: #e74c3c;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.delete-btn:hover {
    color: #c0392b;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}
